/* css for the booking calendar widget */

.wpsbc-container {
    .wpsbc-calendar {
        margin-left: 0px;
    }
    .wpsbc-legend {
        margin-left: 0px;
        .wpsbc-legend-color {
          width: 15px;
          height: 15px;
        }
        .wpsbc-legend-item p {
          font-size: 10px !important;
          line-height: 19px !important;
        }
    }
}
