/* css for the booking calendar widget */

.wpsbc-container {
    .wpsbc-calendar {
        margin-left: 0px;
    }
    .wpsbc-legend {
        margin-left: 0px;
        .wpsbc-legend-color {
          width: 15px;
          height: 15px;
        }
        .wpsbc-legend-item p {
          font-size: 10px !important;
          line-height: 19px !important;
        }
    }
}

.wpsbc-overview-container {
    .wpsbc-overview-row-header {
      //width: 180px!important;
        .wpsbc-calendar-header-inner {
          font-size: 14px;
          line-height: 16px;
          .custom-tooltip {
            display: block;
            max-width: 80px;
            //float: left;
            //margin-right: 5px;
          }
        }
    }
}
