/* ----------- Colors ---------------------------------- */
// Font Colors
$reach-blue: #0088c7;
$menu-active: #0088c7;
$menu-font: #232323;
$reach-orange: #ffa73d;
$acr-blue: #73a4a3;
// Background colors:
$post-hamberger: #2a5c13;
$acr-yellow-bkg: #f7e4c3;
$acr-post-nav-bkg: #e6f3f7;
$acr-green: #2a5c13;
$acr-dk-brown: rgb(60,32,19);
$acr-ltgrey-border: #eeeeee;
$acr-tan: #f7e4c3;
$acr-ltrgreen: #a2d38d;
// special colors
/* ----------- end Colors ----------- */
