/* styling for gravity forms. */
// new gform uses divs not ul & li for form
.gform_wrapper {
  border: 1px solid $acr-green;
  padding-left: 10px;
  form {
    .gform_heading {
      .gform_title {
        text-align: center;
      }
    }
    .gform_body {
      .gform_fields {
        .gfield {
          textarea {
            background-color: white;
          }
        }

        .gfield.reach_gf_hide_title {
          label.gfield_label {
            display: none;
          }
        }
      }
    }
    .gform_footer {
      text-align: right; // for old style forms (on listing)
      justify-content: flex-end; // new style forms
       input[type=submit] {
          font-size: 1em;
       }
       /* input[type=submit]:hover { // no hover right now
         background-color: #242425;
         border-color: #4985FF;
       }
       */

    }
  }
}

.gform_wrapper form.abom-gf-air {
  padding: 10px 20px 10px 20px;
}