/* **** media **** */

@media only screen and (max-width: 767px) { // smaller than tablet.
	.reach-phone-cols { // dont make social icons rows 100% at here
		.textwidget {
			.one-third {
			//	width: 30%;
			//	float: left;
			}
		}
	}
	#sb-slidebar-content {
		#slidebar-menu {
			.mobile-sub-menu-controller {
			//	font-size: 22px;
			}
		}

	}

	#main-wrapper {
		#header {
			.logo {
			//	padding-top: 5px;
			}
			#header-controls-right {
			//	line-height: 120px;
			}
		}
		#main {
		//	background-color: $wakeland-ltblue;
		}
		#hero-section {
		//	top: 120px;
		}
		#content {
		//	padding-top: 120px;
			.be-text-inner {
		//		width: 92%!important;
			}
		}
	}
	#content-wrap .column-block {
		margin-bottom: 0px;

	}
}

@media only screen and (max-width: 480px) {
	.hero-section-wrap {
		height: 200px!important;
	}
}

@media only screen and (min-width: 768px)  {
	.related-items.reach-blog {
		.one-fourth {
			width: 23%;
			margin-left: 2%;
		}
		.one-fourth:nth-child(4n+1) {
		    clear: both;
		    margin-left: 1%;
	  }
	}
}
@media only screen and (max-width: 320px) {
	.logo {
		max-width: 60%!important;
	}
}
