/* **** media **** */
@media only screen and (min-width: 768px) {
	#header {
		#header-inner-wrap {
			#header-controls-right {
				.sliderbar-nav-controller-wrap {
					display: none; // dont show hamberger
				}
			}
		}
	}
}

@media only screen and (max-width: 767px) { // smaller than tablet.

	#header  {
		#header-top-bar {
			display: none; // dont show top bar here
		}
	}
	#content-wrap .column-block {
		margin-bottom: 0px;

	}
}

@media only screen and (max-width: 480px) {
	.hero-section-wrap {
		height: 200px!important;
	}
}

@media only screen and (min-width: 768px)  {
	.related-items.reach-blog {
		.one-fourth {
			width: 23%;
			margin-left: 2%;
		}
		.one-fourth:nth-child(4n+1) {
		    clear: both;
		    margin-left: 1%;
	  }
	}
}
@media only screen and (max-width: 320px) {
	.logo {
		max-width: 60%!important;
	}
}
