/* styling for filter and search plugin */
.searchandfilter {
  h4 { // labels for categories or tags
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 20px;

  }
  ul {
    margin-top: 0px;
    margin-bottom: 5px;
    li {
      display: block;
      margin-bottom: 5px;
    }
  }

}
/* end of styling for filter and search plugin */
