/* styling for filter and search plugin */
.searchandfilter {
  h4 { // labels for categories or tags
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 20px;
    font-size: 1.0em;
  }
  ul {
    margin-top: 0px;
    margin-bottom: 5px;
    li {
      display: block;
      margin-bottom: 5px;
    }
    li[data-sf-field-input-type=checkbox] label {
      padding-left: 2px;
    }
    ul {
      padding-left: 8px;
      li {
        padding-top: 0px;
        padding-bottom: 0px;
      }
    }
  }


}

.abom-filter-2col { // class on column
  .searchandfilter {
    ul {
      padding-left: 5px;
      /* li>ul>li {
        width: 50%;
        float: left;
        label {
          padding-left: 4px;
        }
      }*/
      ul {
        column-count: 2;
      }
    }
  }
}
@media only screen and ( min-width: 768px ) {
  #search-filter-form-3945 { // specific to global search ID 3945.
    ul {
      li.sf-field-category {
          width: 33%;
          float: left;
        }
      li.sf-field-tag {
        width: 66%;
        float: left;
        ul {
          column-count: 3;
        }
      }
    }
  }
} // styling of specific filter at desktop size

.search-filter-results {
  clear: both;
}
.search-filter-results {
  .search-filter-count-wrap {
    .search-filter-count {
      text-align: right;
      padding-bottom: 10px;
    }
  }
  .column-block {
    margin-bottom: 20px;
    article {
      .article-details {
        padding-top: 10px;
      }
      .post-bottom-details {
        display: block;
      }
    }
  }
}
// media stuff for searchandfilter
@media only screen and (max-width: 480px) {
  #search-filter-form-3945 { // specific to global search ID 3945.
    ul {
      li.sf-field-category {
          width: 100%;
        }
      li.sf-field-tag {
        width: 100%;
      }
    }
  }
}
/* end of styling for filter and search plugin */
