/* styling for filter and search plugin */
.searchandfilter {
  h4 { // labels for categories or tags
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 20px;
    font-size: 1.2em;
  }
  ul {
    margin-top: 0px;
    margin-bottom: 5px;
    li {
      display: block;
      margin-bottom: 5px;
    }
    li.sf-field-category {
      width: 40%;
      float: left;
    }
    ul {
      li {
        padding-top: 0px;
        padding-bottom: 0px;
      }
    }
  }

}
.search-filter-results {
  clear: both;
}
/* end of styling for filter and search plugin */
