
/* ----------- Typography ------------------------------- */

i.fa-pull-left {
	float: left;
	padding-right: 5px;
}
i.fa-pull-right {
	float: right;
	padding-left: 5px;
}
h6.acr-subtitle { // subtitle is an h6 on a single post.
	font-size: 1.5em;
}
.tatsu-button {
	text-transform: none;
	font-weight: bold;
}
.acr-subtitle {
	//font-size: 70%; // subtitle is 60% of the main title.
	font-weight: normal;
	color: #333;
}
.be-button-wrap,
.tatsu-button-wrap {
	a.be-button,
	a.tatsu-button {
		text-transform: none;
		font-size: 26px;
		line-height: 32px;
		font-family: "Roboto", "Open Sans", Arial, sans-serif;
	}
	a.be-button.blockbtn,
	a.tatsu-button.blockbtn {
		padding-left: 5px;
		padding-right: 5px;
	}
}
.be-button-wrap.align-block  {
	margin-bottom: 20px!important;
}
.element .post-content img {
	max-width: 100%;
}
p:empty  {
    display: none;
}
/* ----------- end typography ----------- */
